elevenlabs==2.45.0
fastapi==0.136.1
groq==1.2.0
openai==2.32.0
playsound==1.2.2
pydub==0.25.1
PyJWT==2.12.1
python-dotenv==1.2.2
requests==2.33.1
scipy==1.17.1
sounddevice==0.5.5
tqdm==4.67.3
twilio==9.10.5
uvicorn==0.46.0
websockets>=12.0,<14.0
psycopg2-binary
deepgram-sdk==3.7.7
python-multipart
aiohttp
redis
mutagen
numpy
